

#advoc-login-container, #advoc-register-container { 
    /*display: block;*/
}

#advoc-login-container .status-container, 
#advoc-register-container .status-container { 
    border: 1px solid rgb(109, 163, 88);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 6px 12px;
    margin-bottom: 8px;
    background-color: rgb(229, 243, 229);
    font-size: 16px;
}

#advoc-login-container .center-form, 
#advoc-register-container .center-form { 
    width: 350px;
    display: block;
    padding: 24px 24px;
    border: 1px solid rgb(223, 223, 223);
    font-size: 18px;
    margin: 23px auto;
    color: rgb(133, 133, 133);
}

#advoc-login-container .center-form .advocado-logo,
#advoc-register-container .center-form .advocado-logo { 
    width: 183px;
    height: 50px;
    background-image: url(http://getadvocado.com/img/global/logo.png);
    background-repeat: no-repeat;
    margin: 0 auto; 
    padding: 0;
}

#advoc-login-container .center-form label, 
#advoc-register-container .center-form label { 
    color: rgb(133, 133, 133);
    display: block;
    margin-top: 8px;
}

#advoc-login-form, #advoc-registration-form { 
    display: block;
    padding: 24px 24px;
    font-size: 18px;
    margin: 23px auto;
}

#advoc-login-form input[type=text],
#advoc-login-form input[type=password], 
#advoc-registration-form input[type=text], 
#advoc-registration-form input[type=password]{ 

    height: 22px;
    font-size: 18px;
    width: 300px;
    margin: 4px 0px;

}

#advoc-login-form input[type=submit], 
#advoc-registration-form input[type=submit]{ 
    display: block;
    margin-top: 8px;
    width: 80px;
    height: 40px;
    background-color: rgb(67, 182, 67);
    font-size: 18px;
    color: white;
}

#advoc-registration-form input[type=submit] { 
    width: 200px;
}

select#advoc-website-store-group { 
    font-size: 18px;
    margin: 4px 0px;
}

#advoc-login-options { 
    font-size: 12px;
    margin-top: 16px;
}

.status-container .connect-status { 
    color: orange;
    padding: 10px 12px;
}

.status-container .status-message { 
    text-align: center;
}

.advoc-errors { 
    background-color: #F2D9EB;
    border: 1px solid #EECDD9;
    padding: 10px 12px;
    color: rgb(179, 23, 23);
}

ul.no-bullet{ 
    list-style-type: none;
}

ul.no-bullet.small-text { 
    font-size: 13px;
}

ul.flat li {
    float: left;
    padding-right: 12px;
}

.lrpadded20 { 
    padding: 0 20px;
}

.content-centered { 
    text-align: center;
}

.offset-top { 
    margin-top: 20px;
}

.hide { 
    display: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
}

.clearfix:after {
    clear: both;
}
