<?xml version="1.0"?>
<config>
    <modules>
        <GozoLabs_Advocado>
            <version>0.1.0</version>
        </GozoLabs_Advocado>
    </modules>
    <global>
        <models>
            <gozolabs_advocado>
                <class>GozoLabs_Advocado_Model</class>
                <resourceModel>credentials_resource</resourceModel>
            </gozolabs_advocado>
            <credentials_resource>
                <class>GozoLabs_Advocado_Model_Resource</class>
                <entities>
                    <credentials>
                        <table>gozolabs_advocado_credentials</table>
                    </credentials>
                </entities>
            </credentials_resource>
        </models>
        <blocks>
            <gozolabs_advocado>
                <class>GozoLabs_Advocado_Block</class>
            </gozolabs_advocado>
        </blocks>
        <helpers>
            <gozolabs_advocado> 
                <class>GozoLabs_Advocado_Helper</class>
            </gozolabs_advocado>
        </helpers>
        <resources>
            <gozolabs_advocado_setup>
                <setup>
                    <module>GozoLabs_Advocado</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </gozolabs_advocado_setup>
        </resources>
        <events>
            <!--<sales_quote_add_item>-->
                <!--<observers>-->
                    <!--<gozolabs_advocado>-->
                        <!--<class>gozolabs_advocado/observer</class>-->
                        <!--<method>addItemToCart</method>-->
                    <!--</gozolabs_advocado>-->
                <!--</observers>-->
            <!--</sales_quote_add_item>-->
            <!-- the below observer was in version 1.1
                 however because there is no longer a 
                 need to verify the share (just apply 
                 the coupon code),
                 no point setting the discount
                 -->
            <!--<sales_quote_item_set_product>-->
                <!--<observers>-->
                    <!--<gozolabs_advocado>-->
                        <!--<class>gozolabs_advocado/observer</class>-->
                        <!--<method>addItemToCart</method>-->
                    <!--</gozolabs_advocado>-->
                <!--</observers>-->
            <!--</sales_quote_item_set_product>-->
            <checkout_submit_all_after>
                <observers>
                    <gozolabs_advocado>
                        <class>gozolabs_advocado/observer</class>
                        <method>verifyAdvocCouponUsed</method>
                    </gozolabs_advocado>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <routers>
            <advocado>
                <use>standard</use>
                <args>
                    <module>GozoLabs_Advocado</module>
                    <frontName>advocapi</frontName>
                </args>
            </advocado>
        </routers>
        <layout>
            <updates>
                <gozolabs_advocado>
                    <file>gozolabs_advocado.xml</file>
                </gozolabs_advocado>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <GozoLabs_Advocado before="Mage_Adminhtml">GozoLabs_Advocado_Adminhtml</GozoLabs_Advocado>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gozolabs_advocado>
                    <file>gozolabs_advocado.xml</file>
                </gozolabs_advocado>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
    </default>
</config>
